body{
  background-color: #1d1d1d;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
  width: 600px;
}
ul{
  display: flex;
  gap: 1rem;
  list-style: none;
}
a{
  color: #fff;
  text-decoration: none;
}
a:hover{
  color: rgb(0, 139, 33)
}
main{
  padding: 20px 100px;
}